/* [project]/app/App.scss.css [app-client] (css) */
* {
  box-sizing: border-box;
  font-family: Merriweather, Georgia, serif;
  font-weight: 900;
}

body {
  color: #1a1a1a;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body:before {
  content: "";
  opacity: .3;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
  width: 300%;
  height: 300%;
  animation: 8s steps(10, end) infinite grain;
  position: fixed;
  top: -100%;
  left: -50%;
}

body.no-scroll {
  overflow-y: hidden;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.container {
  flex-grow: 1;
  width: auto;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
}

.container.fluid {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media (min-width: 1408px) {
  .container {
    max-width: 1560px;
  }
}

.container .row {
  align-items: center;
  display: flex;
}

.container .row.space-between {
  justify-content: space-between;
}

.container .row.center {
  justify-content: center;
}

main .container {
  position: relative;
}

main .container .row {
  align-items: center;
  height: 100vh;
}

main .container .row .image-container {
  position: relative;
}

main .container .row .image-container .thumbnail {
  position: relative;
  overflow: hidden;
}

main .container .row .image-container .thumbnail .frame img {
  width: 100%;
}

main .container .row .image-container .information {
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  display: flex;
  position: absolute;
}

main .container .row .image-container .information .location span:nth-child(2) {
  margin-left: 8px;
}

.single .container .top-row {
  align-items: flex-end;
  width: 100%;
  height: 50vh;
}

.single .container .top-row .top {
  padding-bottom: 40px;
}

.single .container .top-row .top .details {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.single .container .top-row .top .details .location span:nth-child(2) {
  margin-left: 16px;
}

.single .container .top-row .top .details .founder {
  text-transform: uppercase;
}

.single .container .top-row .top .state-name {
  overflow: hidden;
}

.single .container .top-row .top .state-name .first {
  margin-right: 72px;
}

.single .container .top-row .top .state-name span {
  font-family: Maragsa;
  font-size: 184px;
  font-weight: 400;
  display: inline-block;
  position: relative;
}

@media (max-width: 1440px) {
  .single .container .top-row .top .state-name span {
    font-size: 88px;
  }
}

.single .container .bottom-row {
  height: 50vh;
  position: relative;
}

.single .container .bottom-row .bottom {
  width: 100%;
  height: 100%;
}

.single .container .bottom-row .bottom .thumbnail-single {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}

.single .container .bottom-row .bottom .thumbnail-single .frame-single img {
  width: 100%;
  position: absolute;
}

.single .container .bottom-row .scroll-for-more {
  z-index: 20;
  position: absolute;
  bottom: 200px;
  left: 200px;
}

.single .container .bottom-row .scroll-for-more .icon svg {
  width: 28px;
  height: auto;
}

.single .container .bottom-row .scroll-for-more .text {
  color: #fff;
  text-transform: uppercase;
  margin-top: 8px;
}

.detailed-information {
  height: 600px;
  margin-top: 200px;
}

.detailed-information .container .row {
  justify-content: space-between;
  align-items: flex-start;
}

.detailed-information .container .row h2 {
  font-size: 28px;
}

.detailed-information .container .row p {
  width: 800px;
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

/*# sourceMappingURL=app_App_scss_4a8fea26.css.map*/